/* You can add global styles to this file, and also import other style files */
.active
{

  font-weight: 400;
}
.product-add
{
  width: 60%;
}
.product-detail,.form-edit
{
  width: 70%;
}
.list-produits-content

{
  width: 100%;
  display: flex;
}

